<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Music</title>
    <script src="/js/jquery-3.7.1.min.js" type="text/javascript"></script>
</head>

<body>
    <div id="test">
        <ol>
            <% releases.forEach(data=> { %>
                <li>Artist: <%= JSON.stringify(data.basic_information.artists[0].name) %>, Title:
                        <%= JSON.stringify(data.basic_information.title) %>, Label: <%=
                                JSON.stringify(data.basic_information.labels[0].name) %>, <a id="url" href="">Link: <%-
                                        JSON.stringify(data.basic_information.resource_url) %></a>
                </li>
                <% }); %>
        </ol>
    </div>
    <script>$(document).ready(function () {
            releases.forEach(data => {
                document.getElementById("url").setAttribute("href", datas.basic_information.resource_url);
            })
        });</script>
</body>

</html>