<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Music</title>
</head>

<body>
    <ol>
        <% releases.forEach(data=> { %>
            <li>
                Artist: <%= JSON.stringify(data.basic_information.artists[0].name) %>, Title: <%=
                        JSON.stringify(data.basic_information.title) %>, Label: <%=
                            JSON.stringify(data.basic_information.labels[0].name) %>
            </li>
            <% }); %>
    </ol>
</body>

</html>